Daten/SchuelerKlassenJson.json
Daten/LehrerKlassenJson.json
Daten/LehrerJson.json
Daten/SchuelerJson.json
Daten/NotizenJson.json
Daten/KlassenJson.json
nbproject/project.xml
nbproject/project.properties
nbproject/private/private.properties
~$N-Gymnasium Konzept.docx
~WRL2311.tmp
nbproject/private/private.xml
/nbproject/private/