 body {
  background-image: url(tafel.jpg);
}

div{
    background-color:white;
    display: table;
    margin: auto;
    padding: 1em;
    border-radius: 6px;
    border: solid darkblue 2px;

}
label{
    padding: 1em;
    margin-left: auto;   
}

input{
    margin-right: auto;
}
button#anmelden{
    display: table;
    margin: 0 auto;
    font:bold 0.88em/2em arial,geneva,helvetica,sans-serif; 
    color:#000; 
}
 