/*PINK*/
div{
	border:solid pink 0px;
}

/*Allgemeinstes Layout*/
body{
  background-image: url(tafel.jpg);
}

label{
	font:bold 0.75em/2em arial,geneva,helvetica,center,sans-serif; 
	color: white;
}

button{
	border-radius: 6px;
	font:bold 0.75em/2em arial,geneva,helvetica,sans-serif; 
}

form{
    display: inline-block;
    width: 21%;
}

p{
	font:bold 0.88em/2em arial,geneva,helvetica,sans-serif; 
	color: white;
}

/*Navigationsleiste*/
.tablist li a { 
    display:block;
    text-decoration:none; 
    border:0.06em solid #000; 
    border-bottom:0; 
    font:bold 0.88em/2em arial,geneva,helvetica,sans-serif; 
    color:#000; 
    background-color:#ccc;
    text-align: center;
    webkit-border-top-right-radius:0.50em;
    -webkit-border-top-left-radius:0.50em;
    -moz-border-radius-topright:0.50em;
    -moz-border-radius-topleft:0.50em;
    border-top-right-radius:0.50em;
    border-top-left-radius:0.50em;
}  
.tablist li a:hover {
    background:#3cf;
    color:#fff;
    text-decoration:none;
}
.tablist li#current a { 
    background-color: #777;
    color: #fff;
} 
.tablist li#current a:hover {
    background: #39C;
}

.tablist li { 
   display: inline-block;
    width: 24%;
}

.tablist { 
    list-style:none;  
    height:2em; 
    padding:0;  
    margin:0;  
    border: none; 
    width: 70%;
    white-space:nowrap
}

#logindata{
  display: inline-block;
    width: 24%;   
    font: 0.8em/1.1em arial,geneva,helvetica,sans-serif; 
    color:#FFFFFF; 
    text-align: left;
}

button#abmelden{
    display: inline-block;
    width: 100%;   
    font:bold 0.88em/2em arial,geneva,helvetica,sans-serif; 
    color:#000; 
    text-align: center;
   
}

/*Allgemeines Layout der Tabellen*/
div#table{
	width:80%;
	display: inline-block;
	float: right;
}

div table{
	margin: 1em;
    margin-left: auto;
	background-color: #FAFAFA; 
	height:90%; width:100%; 
	overflow-y:auto;
	overflow-x:hidden;
	border: 4px solid #777;
	font: 0.8em/1.1em arial,geneva,helvetica,sans-serif; 
}

td#header{
	background-color: #BDBDBD;
	border: 1px solid #777;
}
table td {
padding: 2px 10px;
border: 0px solid #000;
}
table tr:nth-child(1n+2) {
background-color: #F2F2F2;
color: #000;
}
table tr:nth-child(2n+3) {
background-color: #E6E6E6;
color: #000;
}
table tr:hover {
background-color: #848484;
color: #fff;
}
td#cb{
	width: 1em
}

/*Bearbeiten Ansichten*/
div#bild {
	margin-left: 13%;
    display: inline-block; 
    clear: left;
    width:35%; 
    margin-top: 1em;
	height: 45%;
	background: rgba(242, 242, 242, 0.7);
	border-radius: 10px;
}

div#bild img{
	height:75%; 
	width: auto;
	max-width:266px; 
	max-height:266px;
    margin: 1em auto;
    border:1px solid blue;
    display: table;
}

#centered{
    width: 26%;
    margin:auto;
	font:bold 0.75em/2em arial,geneva,helvetica,center,sans-serif; 
    margin-left: 37%;
}

div#name {
    display: inline-block;
	float:right;
    clear: left;
    width: 35%; 
    margin-top: 1em;
	margin-right: 13%;
	height: 45%;
}

div#name #name{
    margin-top: auto;
    display: inline-flex;
}

div#name input{
	margin: 5%;
	margin-top: 0%;
	margin-bottom: 3%;
	margin-left: 6%;
	width: 90%;
	border-radius: 6px;
}

div#name table{
    width: 100%;
    height: 100%;
    overflow: auto;
	margin: 0;
}

div#Tabelle {
    width: 100%;
    height: 45%;
    overflow: auto;
}

div#notiznav{
	float:left;
	width:10%;
	height: 30%;
	margin: auto;
	margin-top: 1em;
	margin-left: 13%;
}

div#notiznav button{
	width: 100%;
	margin: 0;
}

div#notiznav form{
	width: 100%;
}

div#Notizen{
	float: right;
	margin-right: 13%;
    margin-top: 1em;
    width: 60%;
	overflow: auto;
    display: inline-block; 
    height: 30%;	
}

div#Notizen div#Tabelle {
    overflow: auto;
    display: inline-block;  
    width: 100%;
}

div#Notizen table{
	margin: 0;
}

div#Notizen button{
	font:bold 0.75em/2em arial,geneva,helvetica,center,sans-serif; 
    color:#000; 
}

div#SLA-Buttons{
    margin-left: 35%;
	height: 10%;
	width: 33%;
	display: inline-block;
}

div#SLA-Buttons form{
    height: 2em;
    clear: both;
	width: 30%;
}

div#SLA-Buttons button{
	font:bold 0.75em/2em arial,geneva,helvetica,center,sans-serif; 
    color:#000; 
    width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
}

/*Filter und Suche*/
div#filter{
	width: 20%;
	display: inline-block;
	float: left;
}

p#filterheader{
	font-size: 130%;
	margin-bottom: 0.4em;
}

#filter p{
	color: white;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 6%;
}

#filter select, #filter input{
	margin: 5%;
	margin-top: 0%;
	margin-bottom: 3%;
	margin-left: 6%;
	width: 90%;
	border-radius: 6px;
}

form#filter{
	display: inline-block;
    width: 100%;
	margin-bottom: 0;
}

#filter button{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	display: block;
	width: 60%;
	font:bold 0.75em/2em arial,geneva,helvetica,sans-serif; 
    color:#000; 
}

button#suche{
	margin-bottom: 1.2em;
}
